@font-face {
    font-family: "Basis";
    src: url("basis33.regular.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Basis";
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.HomePageContainer{
    display: flex;
    background-color: #C4B6AB;
    justify-content: center;
    height: 100vh;
}
.HomePage{
    width: 70%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 15px;
}
.header{
    grid-column: 1 / 13;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(12, 1fr);
}
.icon img{
    width: 170px;
    border-radius: 100px;
    grid-column: 1 / 4;
    margin: 20px 0 0 0;
    background-color: #9D8A7C;
}

.menu{
    margin: 60px 0 0 0;
    grid-column: 3 / 13;
    display: flex;
    background-color: #9D8A7C;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    justify-content: flex-start;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    }
.menu ul a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: #2D1E17;
    border-radius: 10px;
    transition: background-color 0.3s;
    justify-content: center;  
    align-items: center;  
    cursor: default;
}
.menu ul a:hover {
    background-color: #5C4B3C;
    color: #C4B6AB; 
}

.HomeContent{
    display: flex;
    background-color: #523F31;
}
